In [2]:
mylist = [1,2,3]

In [3]:
mylist.append(4)

In [4]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [6]:
mylist

[1, 2, 3]

In [8]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
mylist.insert(0,0)

In [6]:
mylist

[0, 1, 2, 3, 4]

In [11]:
mylist.count(2)

1

In [22]:
mylist.index(0,0,3)

0

In [26]:
mylist.insert(4,4)

In [27]:
mylist

[0, 1, 2, 3, 4, 0, 1, 2, 3]

In [30]:
#removes first occurance pf value, i ran this twice to get rid of both zeros
mylist.remove(0)

In [31]:
mylist

[1, 2, 3, 4, 1, 2, 3]

In [36]:
mylist.sort()

In [37]:
mylist

[1, 1, 2, 2, 3, 3, 4]

In [45]:
del mylist[3]

In [8]:
x = mylist.reverse()
mylist.extend(mylist)

In [12]:
del mylist[-1]

In [13]:
mylist

[0, 1, 2, 3, 4]

In [17]:
type(mylist.reverse())

NoneType

In [18]:
mylist.reverse()

In [3]:
mylist

[1, 2, 3]

In [20]:
mylist.remove

In [21]:
mylist

[4, 3, 2, 1, 0]

In [36]:
mylist.copy()

[4, 3, 2, 1, 0]

In [40]:
mylist

[4, 3, 2, 1, 0]

In [30]:
def name_of_function(name):
    ''' Doctring to explain function'''
    print('Hello '+ name)

In [31]:
name_of_function('Fathi')

Hello Fathi

In [50]:
def add_function(num1,num2):
    return num1+num2

In [52]:
add_function(8,5)

13

In [56]:
 def say_hello(name='Default'):
        print(f'Hello, my name is {name}!!')

In [57]:
say_hello("Fathi")

Hello, my name is Fathi!!

In [58]:
say_hello()

Hello, my name is Default!!

In [59]:
def print_result(a,b):
    print(a+b)

def return_result(a,b):
    return a+b

In [72]:
answer1=print_result(3,6)
type(answer1)

9

NoneType

In [71]:
answer=return_result(3,6)
type(answer)

int

In [73]:
def even_check(x):
    return x%2==0

In [74]:
even_check(21)

False

In [75]:
even_check(20)

True

In [165]:
#RETURN Even numbers in a list
def listeven(x):
    even_numbers = []
    for item in x:
        if item%2==0:
            even_numbers.append(item)
        else:
            pass
    for item in even_numbers:
        if len(even_numbers) >= 0:
            return even_numbers
    
    return 'No even numbers'
    
    
mylist = [0,12,3,4,456,456,467,7,88,558,9,45,889,0,764,34455,23,34,5,6,7]

In [146]:
listeven(mylist)

[0, 12, 4, 456, 88, 558, 0, 764, 34, 6]

In [147]:
listeven([1,1,1,1,3,3,3,3,3,33,5,5,5,5])

'No even numbers'

In [150]:
#Tuple unpacking using functions
stock_prices = [('Apple', 200),('Google',400),('MSFT',100)]

In [152]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 400)
('MSFT', 100)

In [154]:
for a,b in stock_prices:
    print(f'The price of {a} is currently {b}')

The price of Apple is currently 200
The price of Google is currently 400
The price of MSFT is currently 100

In [5]:
work_hours = [('Abby',600),('Billy',1000),('Cassie',400)]

In [6]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month,current_max)

In [7]:
result = employee_check(work_hours)
result

('Billy', 1000)

In [8]:
name,hours = employee_check(work_hours)

In [26]:
name

'Billy'

In [9]:
hours

1000

In [14]:
print(f'The employee of the month is {name}!!\nThey have worked {hours} hours!!')

The employee of the month is Billy!!
They have worked 1000 hours!!

In [15]:
example = [0,1,2,3,4,5,6,7]

In [19]:
from random import shuffle

In [21]:
shuffle(example)

In [22]:
example

[6, 4, 7, 1, 0, 5, 3, 2]

In [23]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [24]:
result = shuffle_list(example)

In [25]:
result

[5, 0, 3, 4, 6, 7, 2, 1]

In [26]:
mylist = ['','O','']

In [27]:
shuffle_list(mylist)

['', 'O', '']

In [37]:
#input alwasys returns a string thats why we are making it an integer to use in the next function
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number 0,1 or 2')
    
    return int(guess)

In [38]:
player_guess()

Pick a number 0,1 or 22

2

In [39]:
myindex = player_guess()

Pick a number 0,1 or 23
Pick a number 0,1 or 22

In [40]:
myindex

2

In [64]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Congrats you are correct!!!!')
        print(mylist)
    else:
        print('Sorry mate, you embarrassed yourself!')
        print(mylist)

In [91]:
#initial list
mylist = ['','O','']
#shuffle list
mixeduplist = shuffle_list(mylist)
#user guess
guess = player_guess()
#check guess
check_guess(mixeduplist,guess)

Pick a number 0,1 or 21
Sorry mate, you embarrassed yourself!
['O', '', '']

In [76]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [77]:
myfunc(20,80)

5.0

In [78]:
#*args allows for a tuple of multiple number of variables
def myfunc(*args):
    return sum((args))*0.05

In [79]:
myfunc(100,200,100,500,100)

50.0

In [87]:
#key word arguments return a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("I did not fine any fruit here.")

In [88]:
myfunc(fruit = 'apple', veggie= 'carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
My fruit of choice is apple

In [100]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[2],kwargs['animal']))

In [102]:
myfunc(10,20,30,40,fruit='apples',food='paninis',animal='dogs')

(10, 20, 30, 40)
{'fruit': 'apples', 'food': 'paninis', 'animal': 'dogs'}
I would like 30 dogs

In [160]:
t = [0,1,2,3,3,4,5,6]

In [105]:
type(t)

tuple

In [119]:
def myfunc(*args):
    mylist = []
    for x in args:
        if x%2==0:
            mylist.append(x)
    return mylist

In [117]:
myfunc(0,1,2,3,4,5,6,7,8)

[0]

In [146]:
string = 'hello world'
string.split()

['hello', 'world']

In [148]:
mylist = string.split()

In [154]:
mylist.reverse()
' '.join(mylist)

'world hello'

In [142]:
for x in

In [143]:
mylist

['hello']

In [163]:
def check(t):
    for x,y in zip(t,t[1:]):
        if x==y:
            print(t)
            print(x,y)
            return True
        
    return False

In [166]:
check(mylist)

[0, 12, 3, 4, 456, 456, 467, 7, 88, 558, 9, 45, 889, 0, 764, 34455, 23, 34, 5, 6, 7]
456 456

True

In [6]:
range

SyntaxError: invalid syntax (<ipython-input-6-24594796afc5>, line 1)

In [8]:
range(100)

range(0, 100)

In [10]:
print(range(100))

range(0, 100)

In [13]:
mylist = list(range(2,100))

In [14]:
mylist

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [1]:
def primes_func(num):
    primes = []
    x=2
    while x<= num:
        for y in range(2,x):
            if x%y==0:
                x+=1
                break
        else:
            primes.append(x)
            x+=1
    print (primes)
    return len(primes)

In [2]:
primes_func(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [3]:
def square(x):
    return x**2

In [4]:
square(5)

25

In [5]:
my_nums = [1,23,4,5,6,55,77,88,2,45,67]

In [10]:
map(square,my_nums)

In [12]:
for item in map(square,my_nums):
    print(item)

1
529
16
25
36
3025
5929
7744
4
2025
4489

In [13]:
list(map(square,my_nums))

[1, 529, 16, 25, 36, 3025, 5929, 7744, 4, 2025, 4489]

In [23]:
for item in map(primes_func,list(range(2,100))):
    print(item)

[2]
1
[2, 3]
2
[2, 3]
2
[2, 3, 5]
3
[2, 3, 5]
3
[2, 3, 5, 7]
4
[2, 3, 5, 7]
4
[2, 3, 5, 7]
4
[2, 3, 5, 7]
4
[2, 3, 5, 7, 11]
5
[2, 3, 5, 7, 11]
5
[2, 3, 5, 7, 11, 13]
6
[2, 3, 5, 7, 11, 13]
6
[2, 3, 5, 7, 11, 13]
6
[2, 3, 5, 7, 11, 13]
6
[2, 3, 5, 7, 11, 13, 17]
7
[2, 3, 5, 7, 11, 13, 17]
7
[2, 3, 5, 7, 11, 13, 17, 19]
8
[2, 3, 5, 7, 11, 13, 17, 19]
8
[2, 3, 5, 7, 11, 13, 17, 19]
8
[2, 3, 5, 7, 11, 13, 17, 19]
8
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23]
9
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
11
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
12
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
12
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
12
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
12
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]
13
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]
13
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]
14
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]
14
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]
14
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]
14
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
15
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]
16
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]
17
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]
17
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
18
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]
19
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]
19
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]
19
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]
19
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]
20
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]
20
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]
21
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]
22
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]
22
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]
22
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]
22
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]
23
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]
24
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [24]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [25]:
names = ['Andy','Fathi',"Ashwaaq",'Moox']

In [31]:
for item in map(splicer,names):
    print(item)

EVEN
F
A
EVEN

In [32]:
list(map(splicer,names))

['EVEN', 'F', 'A', 'EVEN']

In [34]:
def check_even(num):
    return num%2==0

In [36]:
check_even(5)

False

In [40]:
list(map(check_even,my_nums))

[False, False, True, False, True, False, False, True, True, False, False]

In [41]:
filter(check_even,my_nums)

In [42]:
for n in filter(check_even,my_nums):
    print(n)

4
6
88
2

In [43]:
list(filter(check_even,my_nums))

[4, 6, 88, 2]

In [44]:
#lambda is a way to define a function you only intend to use once and it looks like this
square = lambda num : num**2

In [45]:
square(5)

25

In [46]:
list(map(lambda num:num**2,my_nums))

[1, 529, 16, 25, 36, 3025, 5929, 7744, 4, 2025, 4489]

In [47]:
list(map(lambda num:num%2==0,my_nums))

[False, False, True, False, True, False, False, True, True, False, False]

In [48]:
list(filter(lambda num:num%2==0,my_nums))

[4, 6, 88, 2]

In [55]:
list(map(lambda mystring:mystring[::-1],names))

['ydnA', 'ihtaF', 'qaawhsA', 'xooM']

In [54]:
print(names.reverse())

None

In [53]:
names

['Moox', 'Ashwaaq', 'Fathi', 'Andy']

In [57]:
#LEGB order in which python carries out actions. - B stands for built in like len or range
name = 'THIS IS A GLOBAL STRING'

def greet():
    #Enclosing function
    name = 'Sammy'
     
    def hello():
        #Local 
        print('Hello '+ name)
        
    hello()

In [58]:
greet()

Hello Sammy

In [1]:
x = 50

def func():
    print(f'X is {x}')
          
    x = 'New value'
    print (f'I just globally changed X to {x}')

In [2]:
x

50

In [3]:
x = func()

UnboundLocalError: local variable 'x' referenced before assignment

In [70]:
x

'New value'

In [9]:
mystring = 'Fathi'

In [10]:
list(mystring.upper())

['F', 'A', 'T', 'H', 'I']

In [11]:
len(list(mystring.upper()))

5

In [12]:
mystring

'Fathi'

In [15]:
mystring_up = list(mystring.upper())

In [16]:
mystring_up

['F', 'A', 'T', 'H', 'I']

In [17]:
len(mystring_up)

5

In [18]:
lol = []

In [19]:
lol.append('s')

In [20]:
lol

['s']

In [24]:
mystring

'Fathi'

In [25]:
mystring[0].isupper()

True